.context-menu {
    position: absolute;
    z-index: 20;
    background-color: white;
    min-width: 100px;
    border: 1px solid gray;
}

.context-menu ul {
    list-style: none;
}

.context-menu ul li {
    padding: 1px 4px;
}

.context-menu ul li:hover {
    cursor: pointer;
    background-color: #eae8e8;
}